@media only screen and (max-width: 1000px) {
  .avatar2 {
    width:43px!important;
    height:37px !important;

  }
}

@media only screen and (max-width: 600px) {
  .avatar2 {
    width:60px!important;
    height:55px !important;
    margin-right:0px!important;
    margin-left:10px!important;

  }
}

.root {
 
  margin:20px;
  margin-left:10px;
  margin-right:10px;
}

.avatar2{
  flex: 1;
  background-image:url('./images/robot.png');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  max-height:43px;
  max-width:50px;
  height:100%;
  width:100%;
  margin-right:5px;
 
}
.OpacityLow{
  opacity:0.3;
}

.text {
  flex: 1;
  padding: 10px;
  border-radius: 15px;
  display: block;
  position: relative;
  background-color: white;
  text-align: left;
}
.textBot {
    background-color:#f8f8f8 !important;
   border-top-left-radius:2px;
   -webkit-font-smoothing: antialiased;
   font-family:Arial, Helvetica, sans-serif !important;
   max-width:80%;
   margin-right:0px;
   cursor:pointer;

}

.textHuman {
  max-width:75%;
  -webkit-font-smoothing: antialiased;
  margin-right: 0px;
  font-family:Arial !important;
  cursor:pointer;
}

.textHuman:hover{
  opacity:0.8 !important;
  transition:.1s ease-in;
}

.textBot:hover{
  opacity:0.8 !important;
  transition:.1s ease-in;

}

.playButton{
  color:green;
  float:right;
  margin-right:20%;
  cursor:pointer;
}
