@media only screen and (max-width: 600px) {
  .root {
  
   
      max-height:56px!important;
    min-height:56px!important;
    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px !important;
    margin-top:5px!important;
    
    

  
  }
  .shadow{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

.root{
  flex: 1 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.shadow{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}