@media only screen and (max-width: 1200px) {
  .Chatbot {
    width: 22vw !important;
  }
}

@media only screen and (min-width: 800px) {
  .Chatbot {
    width: 22vw !important;
 
  }

  .bottomRightPosition{
    position: fixed !important;
    bottom: 3vh !important;
    right:2vw !important;

  }
}

@media only screen and (max-width: 600px) {
    .Chatbot {
     
      min-width:97vw!important;
    
      height:98%!important;
    
      position:fixed!important;

      left:0.1px!important;
      right:auto!important;
      top:0!important;
      bottom:5px!important;
     
    }

    .bottomRightPosition{
        position:absolute!important;
        padding:0px!important;
        margin:0px!important;
        bottom:0 !important;
        right:0 !important;
    }
  }

.Chatbot{
    width: 25vw;
    min-width: 300px;
    max-width:400px;
    max-height:550px; 
    padding:0px;
}

.bottomRightPosition{
    position: fixed !important;
    bottom: 3vh !important;
    right:1vw !important;
  }

.Shadow{
    -webkit-box-shadow: -5px 10px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: -5px 10px 5px 0px rgba(0,0,0,0.15);
    box-shadow: -5px 10px 5px 0px rgba(0,0,0,0.15);
}