.Bar{
    width:100%;
    height:40px;
}
.LogoBar{
   
    display:flex;
    height:40px;
    width:300px;
    flex-direction: row;
    color:white;
    float:right;
    margin-right:40px;

}
.Logo{
    flex-grow:1;
    margin-top:auto;
    margin-bottom:auto;

}


.Link{
    color:white;

}

.Link::hover{
    background-color:rgba(0,0,0,0.5);
    transition:0.5s ease-in;
}

