.Chatbot{
    position:fixed;
    width:300px;
    height:380px;
    top:50vh;
    left:75vw;

    overflow-y:scroll;
    z-index:10000;

    background-color:white;;
    border:1px solid #ccc;
    border-radius:5px;
    display:flex;
    flex-direction:column;
}

.Header{
    display:block;
    width:100%;
    height:50px;
    border-bottom:1px solid #ccc;
    flex:1/2;
}

.Title{
    margin:0px;
    text-align:center;
}
.Robot{
    float:left;
    margin-left:20px;
    clear:right;
    margin-top:auto;
    margin-bottom:auto;
}

.Body{
    height:75%;
    border-bottom:1px solid #ccc;
    overflow-y:scroll;
    flex:1;
}

.Send{
    flex:1;
}