.Message{
    display:flex;
    text-align:left;
    border-radius:5px;
    padding:3px;
    margin-bottom:10px;
    width:60%;
    flex-direction:column;
    justify-content: flex-end;
    float:right;
    clear:both;
    
}

.Message p {
    margin:4px;
    text-align:center;
     flex:1;
   
}
.Blue{
    background-color:rgba(44, 62, 80, 1);
    border:1px solid #ccc;
    color:white;
    float:right;
    padding:10px;
   
    border-radius:5px;
    
}
    .User{
        flex:1;
    }