.Shadow{

z-index:999;
}

.avatar {
    margin: 10,
  }

.bigAvatar{
    margin: 10;
    width: 30;
    height: 60;
    flex-grow:1;
  }
.root{
      flex-grow: 1;
      
    }

.title {
      flex-grow: 1;
    }
.menuButton {
      margin-right: 0;
    }