@media only screen and (max-width: 600px) {
  .root {
  
    width:100%!important;
    min-width:100vw!important;
    max-width:100vw!important;
    height:100%!important;
    max-height:10vh!important;
    min-height:10vh!important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top:5px!important;
  
    

  
  }
  .shadow{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

.root{
  flex: 1 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.shadow{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}