/target/
/temp/
/tomcat.8080/
/tomcat.9000/
/bin/
.classpath
.settings
.project
chatbot.iml
.idea
/frontend/build/
/frontend/node_modules/
/src/main/webapp/static/
/src/main/webapp/asset-manifest.json
/src/main/webapp/favicon.ico
/src/main/webapp/index.html
/src/main/webapp/logo.png
/src/main/webapp/manifest.json
/src/main/webapp/precache-manifest.95cbdcd390791931c24a8a566aad09a1.js
/src/main/webapp/service-worker.js
.vscode/