@media only screen and (min-width: 1200px) {
  .Chatbot {
    width: 22vw !important;
    
 
  
  }
 
}

@media only screen and (max-width: 800px) {
  .Chatbot {
  
    width: 22vw !important;

  
  }
  .bottomRightPosition{
    position: fixed !important;
    bottom: 3vh !important;
    right:2vw !important;

  }
}

@media only screen and (max-width: 600px) {
    .Chatbot {

      width:95%!important;
      min-width:95vw!important;
      max-width:95vw!important;
      height:95%!important;
      max-height:95vh!important;
      position:fixed!important;
      margin-top:10px!important;
      top:0!important;
      left:auto!important;
      right:auto !important;
 
    
    }
    .bottomRightPosition{
        position:absolute!important;
        padding:0px!important;
        margin:0px!important;
        bottom:0 !important;
        right:0 !important;
    }
  }

 

.Chatbot{
    width: 25vw;
    min-width: 300px;
    max-width:400px;
    max-height:550px;
   
    padding:0px;
   
}
.bottomRightPosition{
    position: fixed !important;
    bottom: 3vh !important;
    right:1vw !important;

  }

.Shadow{
    -webkit-box-shadow: -5px 10px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: -5px 10px 5px 0px rgba(0,0,0,0.15);
    box-shadow: -5px 10px 5px 0px rgba(0,0,0,0.15);
}