@media only screen and (max-width: 600px) {
    .paper {
     top:10% !important;
      width:80vw!important;
      margin-left:10% !important;
   
    
    }
   
  }

.paper {
    position: absolute;
    width: 30vw;
    border: 2px solid #000;
    outline: none;
    top:30%;
    margin-left:35%;
    margin-right:auto;
    max-width:550px;
    overflow-y:auto;
    max-height:400px;
  }